* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
  }
  
  .header {
    background-color: #f6b827;
    box-shadow: 0 2px 8px rgba(48, 46, 46, 0.1);
    padding: 0; /* remove padding to fully control spacing with height */
    width: 100%;
    height: 100px;
    display: flex;               /* Enable flex */
    justify-content: center;     /* Horizontally center child */
    align-items: center;         /* Vertically center child */
    position: relative;
    position: fixed;          /* Make sure it's in flow */
    z-index: 1000;

  }
  
  .container {

    border-radius: 20px;
    width: 90%;
    padding: 0 20px;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 70px;

  }

  .logo {
    padding-left: 100px;
    width: 150px;
  }
  
  nav .btn {
    text-decoration: none;
    color: white;
    background: #28a745;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    transition: 0.3s;
  }
  
  nav .btn:hover {
    background: #218838;
  }
  
  /* Hero Section */
  .hero {
    background: url('images/pch bana.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-content {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
  }
  
  .hero-content h2 {
    font-size: 3rem;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .btn-main {
    display: inline-block;
    padding: 12px 30px;
    background: #ffcc00;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .btn-main:hover {
    background: #e6b800;
  }
  